<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
  <title>{{ page.title }} - Slides</title>

  <link rel="stylesheet" href="/assets/vendor/reveal.js/reveal.css" />
  {% if page.theme %}
  <link rel="stylesheet" href="{{ "/assets/vendor/reveal.js/theme/" | append: page.theme | append: '.css' }}" />
  {% else %}
  <link rel="stylesheet" href="/assets/vendor/reveal.js/theme/black.css" />
  {% endif %}
  <!-- Theme used for syntax highlighting of code -->
  <link rel="stylesheet" href="/assets/vendor/reveal.js/zenburn.css" />

  {% include google-analytics.html %}
</head>
<body>
  <div class="reveal">
    <div class="slides">
      {{ content }}
    </div>
  </div>

  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match( /print-pdf/gi ) ? '/assets/vendor/reveal.js/print/pdf.css' : '/assets/vendor/reveal.js/print/paper.css';
    document.getElementsByTagName( 'head' )[0].appendChild( link );
  </script>

  <script src="/assets/vendor/reveal.js/head.min.js"></script>
  <script src="/assets/vendor/reveal.js/reveal.min.js"></script>
  <script>
    Reveal.initialize({
      dependencies: [
        { src: '/assets/vendor/reveal.js/marked.js' },
        { src: '/assets/vendor/reveal.js/markdown.js' },
        { src: '/assets/vendor/reveal.js/notes.js', async: true },
        { src: '/assets/vendor/reveal.js/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
      ]
    });
  </script>
</body>
</html>